.env
api_endpoint_models/models/paraphrase-multilingual-MiniLM-L12-v2
__pycache__/
api_endpoint_models/embedded_storage/
.vscode/
runner.py

infra/postgresql/data/*
!infra/postgresql/data/.gitkeep

build/
docgen.egg-info